.icon {
  font-size: 600%;
  text-align: center;
  display: block;
  margin: 0 auto;
  padding: 25px;
  border-radius: 3px;
  &.work-icon {
    background: linear-gradient(#f8f8f8 0%, #ecf0f1 50%, #f8f8f8 95%); 
    fill: url(#work-icon);
  }
  &.education-icon {
    background: radial-gradient(#ffeaa7 0%, #f8f8f8 75%);
    fill: url(#education-icon);
  }
  &.projects-icon {
    background: linear-gradient(to right top, #f8f8f8 35%, #dff9fb 50%, #f8f8f8 85%); 
    fill: url(#projects-icon);      
  }
}